sudo: false

dist: trusty

language: php

php:
  - nightly
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3

matrix:
  allow_failures:
    - php: nightly
  include:
    - php: "5.3"
      dist: precise

before_script:
  - PHP_VERSION=$(php -r 'echo phpversion();')
  - echo $PHP_VERSION
  - echo $TRAVIS_PHP_VERSION
  - composer install --no-interaction
  - mkdir -p ./build

script:
  - composer cover
  - composer check-style

after_script:
  - composer coveralls